In [1]:
import pandas as pd

simpleRun_ava = pd.read_csv('simpleRun_allava.csv')

In [6]:
len(simpleRun_ava)

157

In [8]:
wait_df = simpleRun_ava[simpleRun_ava['isSuccessful']==1]
wait_df.head()

,Unnamed: 0,cid,pass_by,appear_time,destination,boarding_time,get_off_time,total_waiting_time,time_in_elev,journey_time,transfer_num,isSuccessful
0,0,0,"['4', '1']",9.916164,1,[40.91616365876797],[54.91616365876797],31.000000,14.000000,45.000000,0,True
1,1,1,"['12', '5', '1', 'B4']",45.952466,B4,"[125.02641372192026, 160.19069985029287, 201.0...","[155.02641372192028, 180.19069985029287, 229.6...",105.073947,78.600082,183.674029,2,True
2,2,2,"['13', '5', '1']",47.846350,1,"[123.19069985029287, 162.19069985029287]","[158.19069985029287, 180.19069985029287]",79.344350,53.000000,132.344350,1,True
3,3,3,"['B1', '1', '5', '7']",53.190700,7,"[64.19069985029287, 184.19069985029287, 206.19...","[70.19069985029287, 202.19069985029287, 216.19...",129.000000,34.000000,163.000000,2,True
4,4,4,"['5', '7']",55.738152,7,[82.73815195832616],[92.73815195832616],27.000000,10.000000,37.000000,0,True

In [44]:
import matplotlib.pyplot as plt
import time
from itertools import count
from matplotlib.animation import FuncAnimation

index = count()



def animate(i):
    x = range(len(wait_df))
    y_wait = wait_df["total_waiting_time"]
    y_jour = wait_df['journey_time']
    
    plt.cla()
    
    plt.plot(x,y_wait,label='waiting_time')
    plt.Xplot(x,y_jour,label='journey_time')
    
    plt.tight_layout()
    
ani = FuncAnimation(plt.gcf(),animate,interval=1000)

plt.tight_layout()
plt.show()